<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="top-nav">
    <div class="nav-section logo">
        <a href="/">Online Store</a>
    </div>
    <div class="nav-section nav-links" id="role-specific-links"></div>
    <div class="nav-section auth-links" id="auth-links"></div>
</div>

<div class="container" style="max-width:300px;margin:40px auto;">
    <h1>Login</h1>
    <form action="http://localhost:8081/login" method="post" style="display:flex;flex-direction:column;">
        <label>Email</label>
        <input type="text" name="username" required>
        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" style="margin-top:20px;">Login</button>
    </form>
    <div class="info-message" th:if="${param.error}">
        Invalid username or password. Please try again.
    </div>
</div>
</body>
</html>